/*upravene html element DOM*/
    /*default styl webu*/

/*"Inter", sans-serif*/

.logo img {                 /*toto říká, že img pod classou .logo*/
    padding-left: 15px;
    height: 6rem; 
    max-width: 100%;        /* Zabraňuje přetékání šířky */
    align-self: top;
}

.bigger-logo img {
    padding-left: 10rem;
    height: 10rem; 
    max-width: 100%; 
}

.logo:hover {
    transform: scale(1.05);
    filter: contrast(120%);
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    /*margin-left: 5rem;*/
}

.p-title {
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 2.8rem;
    text-decoration: underline;
    text-underline-offset: 7px;
    color: inherit;
    height: 6rem;
    display: flex;
    text-align: left;
    padding-left: 5rem;
    align-items: center;        /* Vertikální zarovnání na střed */
}
/*header classes*/

header {
    height: 6rem;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid white;
}

header nav ul {         /*pro header je jiná nez u footer*/
    display: flex;
    gap: 3rem;
}

nav ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav li {
    padding-bottom: 1rem;
}

header nav li:hover {
    border-bottom: white solid;
}

footer nav li:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.header-font {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.8rem;
    color: white;
}

.bg-gradient-red-black {
    background-color: #10070C;
    background: linear-gradient(96deg, #10070C 0%, #a50505 40%);
    background: -webkit-linear-gradient(116deg, #10070C 8%, #a50505 80%);
    background: -moz-linear-gradient(96deg, #10070C 0%, #a50505 10%);
}

.bg-gradient-red-black-reverse {
    background-color: #a50505;
    background: linear-gradient(96deg, #a50505 0%, #10070C 40%);
    background: -webkit-linear-gradient(116deg, #a50505 8%, #10070C 80%);
    background: -moz-linear-gradient(96deg, #a50505 0%, #10070C 10%);
    border-bottom: #10070C solid 0.1em;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-left: 6rem;
}

.a-left {
    text-align: left;
}

.sm {
    font-size: 1rem;
}

.classic-text {   
    padding-top: 8rem;
    background-image: url('../images/grey-light2jpg.jpg');
    color:#10070C;
}

/*-----footer settings-----*/
footer {
    height: 40vh;
    width: 100%;
    /*tyto prvky se změní - budu chtít sloupce*/
}

.footer-nav {
    padding: 0.5rem;
}

.footer-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.createdBy {
    margin: 0;
    text-align: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    background-color: #444;
    grid-column: span 3;            /*mozno dat jako separe tridu? dělat i třídy na takové věci?*/
}

.alert-color {
    background-color: purple;
}