@model Autopujcovna_DreamRide.Models.Car

@{
    ViewData["Title"] = "Přidání auta";
    Layout = LayoutPaths.CarManagement;
}

<section class="container mb-3">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="my-3 mt-5">
            <h2 class="mb-0">Základní údaje o automobilu</h2>
            <div class="d-flex car-btn-back-pos">
                <a asp-action="Index" class="btn btn-back">Zpět do přehledu</a>
            </div>
        </div>
        <div class="row py-3 txt-m">
            <div class="col-3 px-4">
                <div class="form-group">
                    <label asp-for="Label" class="control-label"></label>
                    <input asp-for="Label" class="form-control" />
                    <span asp-validation-for="Label" class="text-danger"></span>
                </div>
            </div>
            <div class="col-3 px-4">
                <div class="form-group">
                    <label asp-for="Model" class="control-label"></label>
                    <input asp-for="Model" class="form-control" />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
            </div>
            <div class="col-3 px-4">
                <div class="form-group">
                    <label asp-for="YearOfManufacture" class="control-label"></label>
                    <input asp-for="YearOfManufacture" class="form-control" />
                    <span asp-validation-for="YearOfManufacture" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row py-3 txt-m">
            <div class="col-3 px-4">
                <div class="form-group">
                    <label asp-for="Body" class="control-label"></label>
                    <select asp-for="Body" class="form-select">
                        <option selected value="Kupé">Kupé</option>
                        <option value="Sedan"></option>
                        <option value="Kabriolet">Kabriolet</option>
                        <option value="Hatchback">Hatchback</option>
                        <option value="Gran Turismo (GT)">Gran Turismo (GT)</option>
                    </select>
                    <span asp-validation-for="Body" class="text-danger"></span>
                </div>
            </div>
            <div class="col-3 px-4">
                <div class="form-group">
                    <label asp-for="Fuel" class="control-label"></label>
                    <select asp-for="Fuel" class="form-select">
                        <option selected value="Benzín">Benzín</option>
                        <option value="Nafta">Nafta</option>
                        <option value="Elektřina">Elektřina</option>
                        <option value="Vodík">Vodík (Hydrogen)</option>
                        <option value="Hybridní - benzín + elektřina">Hybridní - benzín + elektřina</option>
                        <option value="Hybridní - nafta + elektřina">Hybridní - nafta + elektřina</option>
                        <option value="Ethanol">Ethanol (E85)</option>
                        <option value="LPG + benzín">Zkaplněný ropný plyn (LPG) + benzín</option>
                        <option value="LPG + nafta">Zkaplněný ropný plyn (LPG) + nafta</option>
                        <option value="CNG + benzín">Stlačený zemní plyn(CNG) + benzín</option>
                        <option value="CNG + nafta">Stlačený zemní plyn(CNG) + nafta</option>
                    </select>
                    <span asp-validation-for="Fuel" class="text-danger"></span>
                </div>
            </div>
            <div class="col-3 px-4">
                <div class="form-group">
                    <label asp-for="TopSpeedKmForHour" class="control-label"></label>
                    <input asp-for="TopSpeedKmForHour" class="form-control" />
                    <span asp-validation-for="TopSpeedKmForHour" class="text-danger"></span>
                </div>
            </div>
        </div>

        <h2 class="my-3 mt-5">Specifikace motoru</h2>
        <div class="row py-3 txt-m">
            <div class="col-3 px-4">
                <div class="form-group ">
                    <label asp-for="EngineType" class="control-label"></label>
                    <input asp-for="EngineType" class="form-control" />
                    <span asp-validation-for="EngineType" class="text-danger"></span>
                </div>
            </div>
            <div class="col-3 px-4">
                <div class="form-group">
                    <label asp-for="EngineDisplacement" class="control-label"></label>
                    <input asp-for="EngineDisplacement" class="form-control" />
                    <span asp-validation-for="EngineDisplacement" class="text-danger"></span>
                </div>
            </div>
            <div class="col-3 px-4">
                <div class="form-group">
                    <label asp-for="PowerInKw" class="control-label"></label>
                    <input asp-for="PowerInKw" class="form-control" />
                    <span asp-validation-for="PowerInKw" class="text-danger"></span>
                </div>
            </div>
        </div>

        <h2 class="my-3 mt-5">Další technické údaje</h2>
        <div class="row txt-m">
            <div class="col-3 px-4">
                <div class="form-group">
                    <label asp-for="DriveTrain" class="control-label"></label>
                    <select asp-for="DriveTrain" class="form-select">
                        <option selected value="RWD">RWD (pohon zadní nápravy)</option>
                        <option value="FWD">FWD (pohon přední nápravy)</option>
                        <option value="4x4">4x4 (pohon na obě nápravy)</option>
                        <option value="AWD">AWD (stálý pohon zadní i přední nápravy)</option>
                    </select>
                    <span asp-validation-for="DriveTrain" class="text-danger"></span>
                </div>
            </div>
            <div class="col-3 px-4">
                <div class="form-group">
                    <label asp-for="Transmission" class="control-label"></label>
                    <select asp-for="Transmission" class="form-select">
                        <option selected value="Manuální">Manuální</option>
                        <option value="Automatická">Automatická</option>
                        <option value="Poloautomatická">Poloautomatická (AMT)</option>
                    </select>
                    <span asp-validation-for="Transmission" class="text-danger"></span>
                </div>
            </div>
        </div>
        <h2 class="my-3 mt-5">Cesta k titulní fotce auta</h2>
        <div class="row txt-m">
            <div class="col-3 px-4">
                <div class="form-group">
                    <label asp-for="TitleCarImage" class="control-label"></label>
                    <input asp-for="TitleCarImage" class="form-control" />
                    <span asp-validation-for="TitleCarImage" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="d-flex car-btn-submit-pos">
            <button type="submit" class="btn section-btn">Přidat auto</button>
        </div>
    </form>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}