.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*My css*/
/*upravene html element DOM*/
/*default styl webu*/

/*"Logo settings*/

.logo img { /*toto říká, že img pod classou .logo*/
    padding-left: 10rem;
    height: 6rem;
    max-width: 100%; /* Zabraňuje přetékání šířky */
}

.bigger-logo img {
    height: 10rem;
    max-width: 100%;
}

/*hover thing*/
.bigger-logo:hover,
.logo:hover {
    transform: scale(1.05);
    filter: contrast(120%);
}

a:hover {
    color: currentColor;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

/*zajišťuje aby se roztáhli všechny prvky a nezůstalo background body vidět*/
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container {
    width: 100%;
    padding: 0;
    margin: 0;
}


/*T R B L*/
.content-general {
    padding: 0 8rem 3rem 8rem;
    display: flex;
    flex-direction: column;
}

/**registration central*/
.centre-form {
    justify-content: center;
}

.form-check-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .form-check-container .btn-general {
        margin-left: auto; /* Zajišťuje, že tlačítko bude na konci kontejneru */
    }

    .form-check-container .form-check-input {
        margin-right: 1rem; /* Nastavíme mezeru mezi zaškrtávacím políčkem a tlačítkem */
    }

.content-wrap {
    flex: 1; /* This makes sure the main content takes up the available space */
}

/*margin 2: TB RL; 4: T R B L*/

.p-title {
    font-weight: 600;
    font-size: 3.5rem;
    padding-top: 2rem;
    color: inherit;
    display: flex;
    align-items: center; /* Vertikální zarovnání na střed */
}

.title-header {
    margin-bottom: 3rem;
    margin-left: 8rem;
    margin-right: 20rem;
}

/*header classes*/
header {
    height: 6rem;
    width: 100%;
    padding: 0 2rem;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
}

    header nav ul { /*pro header je jiná nez u footer*/
        display: flex;
        gap: 3rem;
    }

nav ul {
    list-style-type: none;
    padding-right: 3rem;
}

nav a {
    text-decoration: none;
    color: inherit;
}

footer nav li {
    padding-bottom: 1rem;
}

.gap {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

header nav li:hover {
    border-bottom: white solid;
}

.header-font {
    font-weight: 600;
    font-size: 1.8rem;
    color: white;
}


/*Article / section classes*/
.article-spacing {
    padding: 3rem 8rem;
}

.article-member {
    flex: 1;
}

.txt-content {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.0rem;
    line-height: 2.5rem;
}

.section-h1 {
    font-size: 2.5rem;
    padding-bottom: 4rem;
}

.section-h2 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

/***form classes***/

.form-title {
    font-weight: 600;
    text-align: center;
}

.label-names {
    font-size: 1.5rem;
}

.text-red {
    color: #b50909
}

.text-white {
    color: white;
}



/**Overide bootstrap form-button-shadow*/
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #050404;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(3, 3, 3, 0.25);
}

.form-select:focus {
    border-color: #050404;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(3, 3, 3, 0.25);
}

.form-check-input:focus {
    border-color: #080808;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(170, 8, 8, 0.25);
}

.form-check-input:checked {
    background-color: #b50909;
    border-color: #ef7f7f;
}

.section-btn { /*section-contact*/
    background-color: #b50909;
    color: white;
    font-size: 1.7rem;
}

    .section-btn:hover {
        background-color: black;
        color: white;
    }

.btn-general {
    background-color: #b50909;
    color: white;
    font-size: 1.7rem;
}
    .btn-general:hover {
        background-color: white;
        color: #b50909;
    }

.container-flex-row {
    display: flex;
    justify-content: space-around;
    gap: 4rem;
}

/*margin 4: T R B L -- like clock*/
/*margin 2: TB RL;*/
.form-spacing {
    padding: 3rem 3rem;
}

.bg-content {
    background-image: url('../images/grey-light.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #10070C;
    display: flex;
}

/**/
.bg-grey {
    background-color: grey;
}

.bg-black {
    background-color: black;
}


.bg-gradient-red-black {
    background-color: #10070C;
    background: linear-gradient(96deg, #10070C 0%, #a50505 40%);
    background: -webkit-linear-gradient(116deg, #10070C 8%, #a50505 80%);
    background: -moz-linear-gradient(96deg, #10070C 0%, #a50505 10%);
}

.bg-gradient-red-black-reverse {
    background-color: #a50505;
    background: linear-gradient(96deg, #a50505 0%, #10070C 40%);
    background: -webkit-linear-gradient(116deg, #a50505 8%, #10070C 80%);
    background: -moz-linear-gradient(96deg, #a50505 0%, #10070C 10%);
}

/*article p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.7rem;
    margin-left: 6rem;
}*/

/*-----footer settings-----*/
footer {
    width: 100%;
    border-top: 2px solid white;
}

.footer-nav {
    padding: 0.5rem;
}

footer h2 {         /*stil sans serif*/
    font-weight: 400;
    font-size: 2rem;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.label-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moto-font {
    font-family: Helvetica;
    font-weight: 500;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-left: 4rem;
}

footer {
    width: 100%;
    margin-top: auto; /* footer je tlačen dolů*/
}

.footer-links {
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
}

footer nav li:hover {
    text-decoration: underline;
    text-underline-offset: 15px;
}

.createdBy {
    text-align: center;
    padding: 1rem;
    background-color: #444;
    grid-column: span 3; /*mozno dat jako separe tridu? dělat i třídy na takové věci?*/
}


/*general settings*/

.alert-color {
    background-color: purple;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
}

.a-left {
    text-align: left;
}

.sm {
    font-size: 1rem;
}