.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.relative-container {
    position: relative;
}
/**--------My css--------**/

/**Overide bootstrap form-button-shadow*/
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #050404;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(3, 3, 3, 0.25);
}

.form-select:focus {
    border-color: #050404;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(3, 3, 3, 0.25);
}

.form-check-input:focus {
    border-color: #080808;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(170, 8, 8, 0.25);
}

.form-check-input:checked {
    background-color: #b50909;
    border-color: #ef7f7f;
}

/* Výchozí styl odkazu */
a {
    color: black;
    text-decoration: none;
}

    /* Stylování odkazu při najetí myší a fókusování */
    a:hover,
    a:focus {
        color: black;
        text-decoration: none;
    }

/* Třída pro odkazy bez podtržení a se zachováním barvy textu */
.style-link {
    color: inherit; /* Ponechá barvu textu odkazu stejnou jako okolní text */
    text-decoration: underline; /* Odstraní podtržení */
}

    .no-style-link:hover,
    .no-style-link:focus {
        color: inherit; /* Ponechá barvu textu odkazu stejnou jako okolní text */
        text-decoration: none; /* Odstraní podtržení */
    }

/*Header only*/
header {
    height: 5.5rem;
    width: 100%;
    padding: 0 2rem;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 1.5rem;
    border-bottom: 2px solid white; /*border celého headeru!*/
}

    header nav ul { /*pro header je jiná nez u footer*/
        display: flex;
        gap: 3rem;
        list-style-type: none;
        padding-right: 3rem;
    }

.header-font-black {
    font-weight: 600;
    font-size: 1.5rem;
    color: #10070C;
}


/*"Logo settings*/
.logo img { /*toto říká, že img pod classou .logo*/
    padding-left: 10rem;
    height: 6rem;
    max-width: 100%; /* Zabraňuje přetékání šířky */
    padding-bottom: 0.5rem;
}

.bigger-logo img {
    height: 10rem;
    max-width: 100%;
}

.bigger-logo:hover,
.logo:hover {
    transform: scale(1.05);
    filter: contrast(120%);
}

/*header and footer classes*/
header a,
footer a {
    color: white;
    text-decoration: none;
    text-underline-offset: 15px; /* Vzdálenost mezi textem a podtržením */
    padding: 4px; /* Rozestupy kolem odkazu */
    transition: color 0.3s, text-decoration 0.3s, text-underline-offset 0.3s; /* Hladký přechod pro barvu a podtržení */
}

    /* Styl při hoveru pro navigační odkazy v header a footer */
    header a:hover,
    footer a:hover {
        color: inherit;
        text-decoration: underline; /* Podtržení při hoveru */
        text-underline-offset: 15px; /* Vzdálenost mezi textem a podtržením při hoveru */
    }

.title-header {
    margin-bottom: 1rem;
}

.nav-link {
    color: inherit; /* Použije barvu textu z nadřazeného prvku (header nebo footer) */
    text-decoration: none;
}

    /* Styl při hoveru pro navigační odkazy */
    .nav-link:hover {
        text-decoration: underline;
        text-underline-offset: 15px; /* Vzdálenost mezi textem a podtržením */
    }

/*-----footer settings-----*/
footer {
    width: 100%;
    padding-top: 2rem;
    margin-top: auto; /*musí být footer tlačen dolů*/
    border-top: 2px solid white;
}

    footer nav {
        padding: 0.5rem;
    }

        footer nav ul {
            list-style-type: none;
        }

        footer nav li {
            padding-bottom: 1rem;
        }

    footer h2 { /*stil sans serif*/
        font-weight: 400;
        font-size: 2rem;
        padding-bottom: 1rem;
    }

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.label-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moto-font {
    font-family: Helvetica;
    font-weight: 500;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-left: 6rem;
    padding-right: 6rem;
    text-align: center;
}

.footer-links {
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
}

.createdBy {
    display: flex;
    justify-content: center;
    padding-top: 1.4rem;
    padding-bottom: 0.5rem;
    background-color: #444;
    grid-column: span 3;
}

    .createdBy a:hover {
        color: black; /* Nastaví barvu odkazu na černou při hoveru */
        text-decoration: none; /* Odstraní podtržení */
    }

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

/*T R B L*/
.content-general {
    padding: 0 8rem 3rem 8rem;
    display: flex;
    flex-direction: column;
}

/**registration central*/
.centre-form {
    justify-content: center;
}

.form-check-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .form-check-container .btn-general {
        margin-left: auto; /* Zajišťuje, že tlačítko bude na konci kontejneru */
    }

    .form-check-container .form-check-input {
        margin-right: 1rem; /* Nastavíme mezeru mezi zaškrtávacím políčkem a tlačítkem */
    }

.content-wrap {
    flex: 1; /* This makes sure the main content takes up the available space */
}

/*margin 2: TB RL; 4: T R B L*/

.p-title {
    font-weight: 600;
    font-size: 2.5rem;
    padding-top: 1.0rem;
    padding-left: 4rem;
    color: inherit;
    display: flex;
    align-items: center; /* Vertikální zarovnání na střed */
}

/*Article / section classes*/
.article-spacing {
    padding: 3rem 8rem;
}

.article-member {
    flex: 1;
}

.txt-content {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.0rem;
    line-height: 2.5rem;
}

.txt-m {
    font-size: 1.3rem;
}

.section-h1 {
    font-size: 2.5rem;
    padding-bottom: 4rem;
}

.section-h2 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

/***form classes***/

.form-title {
    font-weight: 600;
    text-align: center;
}

.label-names {
    font-size: 1.5rem;
}

.req-password {
    margin-left: 9rem;
    font-size: 1.8rem;
    line-height: 2rem;
}

.label-names-l {
    font-size: 1.8rem;
}

.label-names-xl {
    font-size: 2.2rem;
}

.text-red {
    color: #b50909
}

.text-white {
    color: white;
}


/*Buttons*/
.section-btn {
    background-color: #b50909;
    color: white;
    font-size: 1.7rem;
    border-radius: 0.75rem;
}

    .section-btn:hover {
        background-color: #890505;
        color: white;
    }

.back-btn {
    background-color: grey;
    color: white;
    font-size: 1.5rem;
    border-radius: 0.75rem;
}

    .back-btn:hover {
        background-color: #3b3a3a;
        color: white;
    }

.btn-general {
    background-color: #b50909;
    color: white;
    font-size: 1.7rem;
    border-radius: 0.75rem;
}

    .btn-general:hover {
        background-color: white;
        color: #b50909;
        text-decoration: none;
    }

/*Buttons admin*/
.btn-create {
    display: block; /* Nebo inline-block, pokud preferujete */
    box-sizing: border-box;
    width: 100%;
    background-color: #0cae32;
    color: white;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 0.50rem;
    transition: transform 0.35s, background-color 0.35s;
}

    .btn-create:hover {
        background-color: #077421;
        color: inherit;
        transform: scale(0.95);
        text-decoration: none;
    }

.btn-edit,
.btn-delete {
    font-size: 1.5rem;
}

.btn-edit {
    background-color: #ee7c0e;
    color: white;
    border-radius: 0.75rem;
}

    .btn-edit:hover {
        background-color: #b86110;
        color: white;
    }

.btns-admin {
    display: flex;
    justify-content: space-between;
    margin: 1.3rem 1.2rem;
}


/*padding for car-edit/add*/
.car-btn-back-pos {
    justify-content: flex-end !important;
    padding-left: 40rem;
}

.car-btn-submit-pos {
    justify-content: flex-end !important;
}

.btn-pos-end {
    justify-content: flex-end !important;
    margin-right: 10rem;
}

.container-flex-row {
    display: flex;
    justify-content: space-around;
    gap: 4rem;
}

.centered-left-content {
    position: relative;
    left: 50%; /* Posune levý okraj kontejneru do středu obrazovky */
    transform: translateX(-50%); /* Posune celý obsah o polovinu šířky zpět doleva */
}

/*margin 4: T R B L -- like clock*/
/*margin 2: TB RL;*/
.form-spacing {
    padding: 3rem 3rem;
}


/*zajišťuje aby se roztáhli všechny prvky a nezůstalo background body vidět*/
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container {
    width: 100%;
    padding: 0;
    margin: 0;
}

/****Sections*****/
/*Karta, která zve k prohlídce aut*/
.invitation-card {
    position: relative;
    width: 100%;
    height: 80vh; /* Nastav pevnou výšku sekce */
    overflow: hidden; /* Skryje části obrázku, které přesahují sekci */
}

    .invitation-card img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Obrázek pokryje celou šířku sekce a zachová poměr stran */
        object-position: 50% 40%; /* Posune obrázek lehce nahoru, aby byl lehce oříznutý shora i zdola */
    }

.btn-pos {
    position: absolute;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.btn-down {
    bottom: 40px;
    right: 50px;
}

.h2-card {
    font-size: 2.5rem;
    -webkit-text-stroke: 1.2px black;
    font-weight: 600;
}

.text-on-card {
    position: absolute;
    top: 25%;
    left: 6rem;
    transform: translateY(-50%);
    color: rgb(219, 218, 218);
    z-index: 1;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.4rem;
}

.p-card-effects {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
    -webkit-text-stroke: 0.3px black;
}

/**Details-car***/
.img-car {
    width: 100%;
    min-width: 800px;
    height: 60vh;
    min-height: 500px;
    object-fit: cover;
    object-position: center; /* Vycentruje obrázek v kontejneru */
    border: 2px solid white;
}

.img-icon {
    width: 4rem;
    margin: 1.0rem;
    margin-left: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 2rem;
    margin: 5rem 0rem;
}

    .grid-container h1 {
        font-size: 2rem
    }

.grid-tile {
    background: rgb(138, 136, 136);
    border: 4px solid white;
    font-size: 1.4rem;
    padding-left: 1rem;
}

.grid-tile-value {
    text-align: right;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: 1rem;
}

.invite-txt {
    font-family: Verdana;
    transform: skewX(-5deg);
    font-weight: 500;
    font-size: 1.9rem;
    padding: 1rem;
    margin-bottom: 5rem;
    background-color: grey;
    color: white;
}

.btn-details-pos {
    margin-right: 5rem;
}

.btn-back-pos {
    margin-left: 10rem;
}

.back-btn {
    font-size: 2.0rem;
    padding: 1rem;
}

.details-btn {
    font-size: 2.0rem;
    padding: 1.2rem;
}

/*Kontejner tlačítek back a půjčit auto*/
.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

/*Pořadí pro tlačítka vedle sebe*/
.start-pos {
    order: 1;
}

.end-pos {
    order: 2;
}

.back-btn {
    font-size: 2.0rem;
    padding: 1.2rem;
}

.details-btn {
    font-size: 2.0rem;
    padding: 1.2rem;
}

@media (max-width: 1420px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Zalomení řádku*/
    }

    h1 {
        font-size: 1.9rem;
    }

    .grid-tile {
        font-size: 1.3rem;
    }
}

/*Nabídka aut - karty aut*/
.cars-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 4rem;
    width: 100%;
    margin-bottom: 5rem;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-card {
    padding: 0.2rem; /* Vnější okraje kolem vnitřní karty */
    background-color: grey; /* Stejná barva jako karta */
    border-radius: 10px; /* Přidá stejný rádius jako karta */
    box-sizing: border-box;
    transition: transform 0.25s;
}

    .outer-card:hover {
        transform: scale(0.95);
        padding-bottom: 0;
        border-bottom: 5px solid rgb(167, 6, 6);
    }

.car-card {
    font-size: 1.4rem;
    font-weight: 600;
    background-color: grey;
    color: black;
    padding: 0.5rem;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 4px solid black;
    transition: transform 0.25s;
    overflow: hidden;
}

    .car-card:hover {
        border-bottom: 0px;
    }

    .car-card h2 {
        font-weight: 800;
        color: black;
        text-align: center;
        transition: color 0.1s; /*ovlivňuje rychlost změny pro hover*/
    }

    .car-card:hover h2 {
        color: rgb(167, 6, 6);
    }

.img-car-in-card {
    max-width: 100%; /* Zajišťuje, že obrázek nepřekročí šířku karty */
    height: 30vh;
    min-height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.car-attributes {
    list-style-type: none;
    padding-left: 2rem;
}

    .car-attributes li {
        line-height: 1.7rem;
        margin-bottom: 0.5rem;
    }

/*Delete car*/
.car-removal-grid {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 2fr; /* Dvě sloupce, první 1fr, druhý 2fr */
    gap: 3rem;
    width: 100%;
    margin-bottom: 5rem;
}

.no-hover {
    pointer-events: none;
}

.warning-delete {
    padding-top: 7rem;
    font-size: 2.5rem;
    text-align: center;
}

.decision-btns {
    display: flex;
    justify-content: space-between !important;
    margin: 4rem 10rem;
}

.yes-btn {
    font-size: 1.8rem;
    font-weight: 700;
    padding: 1.2rem 3rem;
    background-color: red;
    transition: transform 0.15s;
}

/*uživatel bude přesměrován zpět do nabídky*/
.no-btn {
    font-size: 1.8rem;
    font-weight: 700;
    padding: 1.2rem 3rem;
    background-color: grey;
    transition: transform 0.15s;
}

    .no-btn:hover {
        transform: scale(1.10);
        background-color: #444;
        color: white;
    }

.yes-btn:hover {
    transform: scale(1.10);
    background-color: #690404;
    color: white;
}

/*Pozadí*/
.bg-content {
    background-image: url('../images/grey-light.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #10070C;
    display: flex;
}

/**/
.bg-grey {
    background-color: grey;
}

.bg-black {
    background-color: #a50505;
}

.bg-red {
    background-color: #a50505;
}

.bg-white {
    background-color: white;
}

.bg-gradient-red-black {
    background-color: #10070C;
    background: linear-gradient(96deg, #10070C 0%, #a50505 40%);
    background: -webkit-linear-gradient(116deg, #10070C 8%, #a50505 80%);
    background: -moz-linear-gradient(96deg, #10070C 0%, #a50505 10%);
}

.bg-gradient-red-black-reverse {
    background-color: #a50505;
    background: linear-gradient(96deg, #a50505 0%, #10070C 40%);
    background: -webkit-linear-gradient(116deg, #a50505 8%, #10070C 80%);
    background: -moz-linear-gradient(96deg, #a50505 0%, #10070C 10%);
}

/*general settings*/
.alert-color {
    background-color: purple;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
}

.a-left {
    text-align: left;
}

.sm {
    font-size: 1rem;
}
