@{
    Layout = LayoutPaths.HomeLayout;
}

<article>           @*kontejner všech jednotlivých karet - sekcí*@
    <section class="invitation-card">
        <img src="~/images/miata-mx-5.jpg" alt="Miata mx-5">
        <div class="text-on-card">
            <h2 class="my-5 h2-card">Zažij jízdu svých snů</h2>
            <div class="p-card-effects">
                <p>Miluješ japonská auta nebo spíše ty ty německé? Neboj, máme oboje!</p>
                <p>Nahlédni do naší nabídky aut a zažij jízdu snů ve svém vysněném autě.</p>
            </div>
        </div>
        <a asp-controller="Cars" asp-action="Index" class="section-btn btn-pos btn-down">Nabídka aut</a>
    </section>
</article>
