@model Autopujcovna_DreamRide.Models.ViewModels.CarDetailViewModel

@{
    ViewData["Title"] = Model.FullName;
}

<section class="container">
    <img class="img-car" src="images/Subaru_BRZ -edit.jpg" alt="subaru">
    <!-- car parameters -->
    <section class="grid-container">
        <div class="grid-tile">
            <img class="img-icon" src="/images/gearshift.png" alt="transsmission">
            <h1>Max rychlost</h1>
            <p class="grid-tile-value">240 km/h</p>
        </div>
        <div class="grid-tile">
            <img class="img-icon" src="/images/gearshift.png" alt="transsmission">
            <h1>Výkon</h1>
            <p class="grid-tile-value">240 km/h</p>
        </div>
        <div class="grid-tile">
            <img class="img-icon" src="/images/gearshift.png" alt="transsmission">
            <h1>Převodovka</h1>
            <p class="grid-tile-value">240 km/h</p>
        </div>
        <div class="grid-tile">
            <img class="img-icon" src="~/images/" alt="transsmission">
            <h1>Rok výroby</h1>
            <p class="grid-tile-value">240 km/h</p>
        </div>
        <div class="grid-tile">
            <img class="img-icon" src="/images/gearshift.png" alt="transsmission">
            <h1>Motor</h1>
            <p class="grid-tile-value">240 km/h</p>
        </div>
        <div class="grid-tile">
            <img class="img-icon" src="/images/gearshift.png" alt="transsmission">
            <h1>Pohon</h1>
            <p class="grid-tile-value">240 km/h</p>
        </div>
        <div class="grid-tile">
            <img class="img-icon" src="/images/gearshift.png" alt="transsmission">
            <h1>Karosérie</h1>
            <p class="grid-tile-value">240 km/h</p>
        </div>
        <div class="grid-tile">
            <img class="img-icon" src="/images/gearshift.png" alt="transsmission">
            <h1>Palivo</h1>
            <p class="grid-tile-value">240 km/h</p>
        </div>
    </section>
    <p class="invite-txt">
        Splňte si svůj sen za volantem Subaru BRZ!
        Výkonný motor, precizní řízení a lehký podvozek, to musíte zkusit. Tak neváhejte, půjčte si ho a vychutnejte si každou zatáčku naplno!
    </p>
</section>

<div class="btn-container">
    <div class="start-pos btn-back-pos">
        <a class="btn back-btn" alt="return to menu">Návrat do nabídky</a>
    </div>
    <div class="end-pos btn-details-pos">
        <a class="btn section-btn details-btn">Půjčit si auto</a>
    </div>
</div>

    <a asp-action="Edit" asp-route-id="@Model.CarId">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>
