@model Autopujcovna_DreamRide.Models.ViewModels.RequestViewModel

@{
    ViewData["Title"] = "Rezervace auta";
}

<article class="container-flex-row">
    <section class="form-spacing bg-grey article-member">
        <form asp-action="CarReservation" class="label-names">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            @* Název formuláře *@
            @*             Je potřeba ještě udělat obrys písma a zlepšit obecně vzhled textu vlevo *@
             <h1 class="form-title text-red">Návrh na rezervaci auta</h1>
            
            @*  Jméno + příjmení *@
            <div class="row">
                <div class="col-6 px-4 my-2">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" placeholder="Vaše jméno" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-6 px-4 my-2">
                    <label asp-for="Surname" class="control-label"></label>
                    <input asp-for="Surname" class="form-control" placeholder="Vaše příjmení" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
            </div>

            @* Předvolba + tel. číslo + e-mail *@
            <div class="row">
                <label asp-for="PhonePreset" class="px-4 mt-3 control-label"></label>
                <div class="col-5 px-4 mt-1 my-2">
                    <select asp-for="PhonePreset" class="form-select">
                        <option selected value="420">+420</option>
                        <option value="421">+421</option>
                        <option value="43">+43</option>
                        <option value="49">+49</option>
                    </select>
                    <span asp-validation-for="PhonePreset" class="text-danger"></span>
                </div>
                <div class="col-7 mt-1 my-2">
                    <input asp-for="PhoneNumber" class="form-control" placeholder="722 182 777" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
               @*  E-mail *@
            <div class="row">
                <div class="col-12 px-4 my-2">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" placeholder="Ve tvaru: franta@gmail.com" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

               @*  Preferovaná forma komunikace *@
            <div class="row">
                <label asp-for="PrefferedContactWay" class="px-4 mt-3"></label>
                <div class="col-6">
                    <label class="form-check-label control-label">
                        <input asp-for="PrefferedContactWay" class="form-check-input mx-4 txt-l" type="radio" value="telefon" checked />
                        <span class="txt-l">telefon</span>
                    </label>
                </div>
                <div class="col-6">
                    <label class="form-check-label control-label">
                        <input asp-for="PrefferedContactWay" class="form-check-input mx-4 txt-l" type="radio" value="email" checked />
                        <span class="txt-l">email</span>
                    </label>
                </div>
                <span asp-validation-for="PrefferedContactWay" class="text-danger"></span>
            </div>

            @* Výběr auta - toto se musí předělat! *@
            <div class="row">
                <div class="col-12 px-4 my-2">
                    <label asp-for="CarName" for="cars">Auto</label>
                    <select class="form-select" id="car">
                        <option asp-for="CarName" selected value="1">Audi TT TSFI 2.0 2012</option>
                        <option value="2">BMW 3 Series 320i 2019</option>       @* Zde bude později HTML.Display z property Car *@
                        <option value="3">Mercedes-Benz S-Class 350 2018</option>
                    </select>
                    <span asp-validation-for="CarId" class="text-danger"></span>
                </div>
            </div>

            @* Datum Od / Do *@
            <div class="row">
                <div class="col-6 ps-4 my-2">
                    @* label for="datePicker"*@
                    <label asp-for="StartDay"></label>
                    <input asp-for="StartDay" class="form-control" />
                    <span asp-validation-for="StartDay" class="text-danger"></span>
                </div>
                <div class="col-6 pe-4 my-2">
                    <label asp-for="EndDay"></label>
                    <input asp-for="EndDay" class="form-control" />
                    <span asp-validation-for="EndDay" class="text-danger"></span>
                </div>
            </div>

            @* Doplňující informace *@
            <div class="row">
                <div class="col-12 px-4 my-2">
                    <label asp-for="AdditionalInfo" class="control-label"></label>
                    <textarea asp-for="AdditionalInfo" class="form-control border-0" rows="4" placeholder="Napiště sem, co bychom ještě měli vědět, případně zanechte pole prázdné..."></textarea>
                    <span asp-validation-for="AdditionalInfo" class="text-danger"></span>
                </div>
            </div>
            <div class="d-flex car-btn-submit-pos">
                <button type="submit" class="btn section-btn">Odeslat návrh</button>
            </div>
        </form>
    </section>

    @*  Sekce přímého kontaktování autopůjčovny - alternativa k formuláři  *@
     <section class="form-spacing article-member">
        <h1 class="section-h1">... Nebo nám přímo zavolejte</h1>
        <h2 class="section-h2">Filip Steinmetz</h2>
        
        @* Mobil + E-mail *@
        <section class="txt-content">
            <div class="txt-l">
                <p><strong>Mobil:</strong> +420 725 475 558</p>
                <p><strong>E-mail:</strong> info@dreamride.cz</p>
                <p class="my-5">Jsme tady hlavně pro Vás nebojte se nás na cokoliv zeptat!</p>
            </div>

            @* Sociální sítě *@
            <h2 class="section-h2">Sociální sítě</h2>
            <!-- vynechat trošku víc místa a najít Icony na FB a Instagram -->
            @* Ikony s proklikem na FB či Instagram stránku autopůjčovny (čistě virtuální - nikam člověka neodešle) *@
            <button><img class="img-icon" src="~/images/icons/FB.png" alt="Facebook"></button>
            <button><img class="img-icon" src="~/images/icons/instagram.png" alt="Instagram"></button>
        </section>
</article>
