<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Virtuální půjčovna sportovních aut - Dream Ride." />
    <meta name="keywords" content="auta, webový projekt, Adéla Srbová, zážitkové jízdy" />
    <meta name="author" content="Adéla Srbová" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>@ViewData["Title"] - DreamRide Autopůjčovna</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    
    <link rel="icon" href="~/logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />  
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />       @*nezapomenout styly nakopirovat sem - toto přepíše bootstrap*@
</head>
<body>
    <div class="page-container">
        <header class="bg-gradient-red-black">
            <div class="logo">
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" alt="Logo">
                </a>
            </div>
            <nav>
                <ul class="navbar nav flex-grow-1">
                    @* použití viewu jiného controlleru -> navBar přesměruje na jeden view a ten dále bude komunikovat s dalšími (budou na sebe třeba navazovat odkazy)*@
                    <li><a asp-controller="Car" asp-action="Index">Nabídka všech aut</a></li>
                    <li><a asp-controller="Request" asp-action="CarReservation">Rezervace auta</a></li>
                    @* <li><a asp-controller="Account" asp-action="Login">Přihlásit se</a></li>
                    <li><a asp-controller="Account" asp-action="Register">Registrovat se</a></li> *@
                    @*<!-- <li><a asp-controller="Home" asp-action="FAQ">Časté dotazy</a></li> -->
                    <!-- <li><a asp-controller="Home" asp-action="AboutUs">O nás</a></li> -->
                    <li><a asp-controller="Home" asp-action="Contact">Kontakt</a></li> *@
                </ul>
            </nav>
        </header>

        <div class="container">
            <header class="title-header">
                <h1 class="p-title">@ViewData["Title"]</h1>
            </header>
            <main class="content-wrap">
                @RenderBody()
            </main>
        </div>
        <footer class="footer-grid bg-gradient-red-black-reverse">
            <section class="label-container">
                <div class="bigger-logo">
                    <a asp-controller="Home" asp-action="Index">
                        <img src="~/images/logo.png" alt="Logo Dream Ride">
                    </a>
                </div>
                <div><p class="moto-font">Proměňujeme touhy po jízdě v nezapomenutelné zážitky</p></div>
            </section>
            <section class="label-container">
                <nav>
                    <h2 class="gap">Dream Ride</h2>
                    <ul class="footer-links">
                        <!-- Seznam polozek - lze přiradit classu-->
                        <li><a asp-controller="Home" asp-action="Services">Naše služby</a>
                        <li><a asp-controller="Car" asp-action="Index">Nabídka aut</a></li>
                        <li><a asp-controller="Home" asp-action="Contact">Kontakt</a></li>
                    </ul>
                </nav>
            </section>
            <section class="label-container">
                <nav>
                    <h2>Informace</h2>
                    <ul class="footer-links">
                        <li><a asp-controller="Home" asp-action="FAQ">Časté dotazy</a></li>
                        <li><a asp-controller="Home" asp-action="Terms">Obchodní podmínky</a></li>
                    </ul>
                </nav>
            </section>
            <section class="createdBy">
                <p class="sm">Vytvořila &copy;Adéla Srbová @DateTime.Now.Year pro<a href="https://itnetwork.cz"/>Itnetwork.cz</p>
            </section>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
