@model Autopujcovna_DreamRide.Models.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Přihlášení";
    Layout = LayoutPaths.LoginLayout;
}

<div class="row">
    <div class="col-7">
        <form class="d-flex flex-column gap-3" asp-route-returnUrl="@ViewData["ReturnUrl"]">
            <div class="content-general">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group mb-4">
                    <label asp-for="Username" class="form-label label-names-xl " aria-describedby="Uživatelské jméno" placeholder="Pepicek@email.cz"></label>
                <input asp-for="Username" class="form-control form-control-lg" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                    <label asp-for="Password" class="form-label label-names-xl "></label>
                <input asp-for="Password" class="form-control form-control-lg" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-check-container mb-4">
                <input asp-for="RememberMe" class="form-check-input">
                <label asp-for="RememberMe" class="form-check-label"></label>
                <button type="submit" class="px-2 btn btn-general">Přihlásit se</button>
                @*neuvádíme požadovanou akci, avšak podle názvu View se snaží ASP.NET spustit příslušnou akci z AccountControlleru*@
            </div>
            </div>
            </form>
    </div>
</div>

@section Scripts {
    @*skript nutný pro běh správné validace!! - nezapomenout!*@
    
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}